.hero-3d-card {
  width: 80%;
  height: 150%;
  background-color: rgba(63, 63, 63, 0.81);
  border-radius: 20px;
  cursor: cell;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* align-items: center; */
  transform-style: preserve-3d;
}

.h1_tilt {
  font-size: 2em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #333333;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  background-color: antiquewhite;
  text-align: center;
  margin: 1em 0px;
  padding: 0.5em 1em;
}

.hero-3d-card:hover .h1_tilt{
  transition-duration: 0.3s;
  transform: translateZ(100px);
  box-shadow: 0px 8px 10px rgba(118, 118, 118, 0.381);  
}

.h1_tilt-delayed{
    text-decoration: line-through;
}

.h1_tilt-done{
    text-decoration: none;
}

.container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 2em;
}

.right-side-3d-component{
  width: 20%;
  height: 50%;
  display: flex;
  margin: 2em 2em;
  padding: 1em;
  flex-direction: column;
  align-items: center;
  background-color: rgba(225, 225, 225, 0.81);
}